@import "../../styles/grid.scss";

.navbar-toggler {
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    background-color: transparent !important;
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    @include show-on("md");
    @include col-order(3);

    $max-width-val: map-get($container-max-widths, "md");
    @include mediaquery($max-width-val, false) {
        @include col-order(2);
    }
}
