@import "../../../styles/scss/variables";
@import "../../../styles/scss/mixin";

.nav-item {
    position: relative;
    display: flex;
    height: 100%;
    text-decoration: none;
    color: $secondary-color;
    padding: 1rem 1rem;
    white-space: nowrap;
    align-self: flex-start;
    $max-width-val: map-get($container-max-widths, "sm");
    @include mediaquery($max-width-val, false) {
    }
}
