@import "../../styles/grid.scss";

.btn {
    display: inline-block;
    color: $secondary-color;
    text-align: center;
    vertical-align: middle;
    background-color: $primary-color;
    border: 1px solid $secondary-color;
    cursor: pointer;

    @include button-size(
        $btn-padding-y,
        $btn-padding-x,
        $btn-font-size,
        $btn-line-height,
        $btn-border-radius
    );

    @include hover() {
        color: $primary-color;
        background-color: $secondary-color;
        border-color: $primary-color;
    }
}