@import "scss/variables";
@import "scss/mixin";

.container-fluid {
    @include container();
}

.container {
    @include container($grid-gutter);
    @each $breakpoint, $val in $grid-breakpoints {
        @include mediaquery($val) {
            max-width: map-get($container-max-widths, $breakpoint);
        }
    }
}
.row {
    @include row($grid-gutter);
}

.col {
    @include col($grid-gutter-width);
    @include mediaquery(32em) {
        @include col($grid-gutter, true);
    }
}

.lg {
    display: none;
    @include show-on("lg");
}

.md {
    display: none;
    @include show-on("md");
}

.sm {
    display: none;
    @include show-on("sm");
}

.hidden-lg {
    @media (min-width: 62em) {
        display: none;
    }
}

.xl {
    @include hide-on("xl");
}

.visible-lg {
    @include show-on("lg");
}
