@import "scss/variables";
@import "scss/mixin";

.container-fluid {
    @include container();
}

.container {
    @include container($grid-gutter);
    @each $breakpoint, $val in $grid-breakpoints {
        @include mediaquery($val) {
            max-width: map-get($container-max-widths, $breakpoint);
        }
    }
}
.row {
    @include row($grid-gutter);
}

.col {
    @include col($grid-gutter-width);
    @include mediaquery(32em) {
        @include col($grid-gutter, true);
    }
}

.hidden-sm {
    $sm-min-width-breakpoint: map-get($grid-breakpoints, "sm");
    @media (max-width: $sm-min-width-breakpoint) {
        display: none;
    }
}

.hidden-md {
    $md-max-width-breakpoint: map-get($container-max-widths, "lg");
    @media (max-width: $md-max-width-breakpoint) {
        display: none;
    }
}

.hidden-lg {
    $lg-min-width-breakpoint: map-get($grid-breakpoints, "lg");
    @media (min-width: $lg-min-width-breakpoint) {
        display: none;
    }
}

.visible-lg {
    @include show-on("lg");
}

.flex-start {
    align-self: flex-start;
}
.flex-end {
    align-self: flex-end;
}
