ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.navbar {
    .navbar-collapse {
        flex-grow: 1;
        align-items: center;
        flex-wrap: nowrap;

        .navbar-nav {
            &.reverse {
                flex-direction: row-reverse;
            }
        }

        &.md {
            $max-width-val: map-get($container-max-widths, "md");
            @include mediaquery($max-width-val, false) {
                flex-basis: 100%;
                @include col-order(2);
            }
        }

        &.action-items {
            @include col-order(2);

            $max-width-val: map-get($container-max-widths, "md");
            @include mediaquery($max-width-val, false) {
                @include col-order(1);
            }

            $max-width-val: map-get($container-max-widths, "sm");
            @include mediaquery($max-width-val, false) {
                @include col-order(3);
            }
        }
    }

    $min-width-val: map-get($grid-breakpoints, "md");
    @include mediaquery($min-width-val) {
        flex-wrap: nowrap;
    }
}

.btn {
    display: inline-block;
    color: $secondary-color;
    text-align: center;
    vertical-align: middle;
    background-color: $primary-color;
    border: 1px solid $secondary-color;
    cursor: pointer;

    @include button-size(
        $btn-padding-y,
        $btn-padding-x,
        $btn-font-size,
        $btn-line-height,
        $btn-border-radius
    );

    @include hover() {
        color: $primary-color;
        background-color: $secondary-color;
        border-color: $primary-color;
    }
}

.card {
    background: #fff;
    flex-direction: row;
}

.bg-secondary {
    background-color: $secondary-color;
}

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}
.bg-green {
    background-color: green;
}
.bg-blue {
    background-color: blue;
}

.no-border {
    border: none;
    outline: none;
}
