@import "../../styles/grid.scss";

.navbar {
    display: flex;
    border-bottom: 2px solid #dedede;
    color: $secondary-color;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
}
