@import "../../styles/grid.scss";

.navbar-collapse-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .navbar-overlay {
        &.expanded {
            min-height: 100%;
            position: absolute;
            z-index: 1;
            background-color: $color-charcoal;
            width: 100%;
        }
    }

    .navbar-collapse {
        position: relative;

        &.collapsed {
            display: none;
        }

        &.expanded {
            min-height: 100%;
            position: absolute;
            z-index: 2;
            flex-basis: 100%;
            right: 0;
            top: 0;
            background-color: $color-white-light;
            order: 2;
            max-width: $mobile-device-width;
            width: 100vw;

            & > .collapse-content {
            }
        }

        & .close-action {
            z-index:3;
            width: 20px;
            height: 20px;
            right: 10px;
            top: 10px;
            position: absolute;
            cursor: pointer;
        }

        .navbar-nav {
            flex-direction: row;
            .nav-item {
                flex-basis:100%
            }
        }
    }
}
