.navbar-collapse {
    &.collapsed {
        display: none;
    }

    &.expanded {
        flex-basis: 100%;
        order: 2;
        /*display:block;*/
    }

    .navbar-nav {
        flex-direction: column;
    }
}
