@import "../../styles/grid.scss";

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    $max-width-val: map-get($container-max-widths, "md");
    @include mediaquery($max-width-val, false) {
        flex-wrap: wrap;
    }
}
